.content {
    margin-top: 55px;
    margin-left: 300px;
    height: 786px;
    border: 1px solid red;
}


@media (max-width: 991px) {
    .content {
        margin-top: 55px;
        margin-left: 0px;
    }
  }